build.xml
.classpath
.factorypath
.project
*.settings
nbproject
*.jar
*.zip
*.sha1
env
*.pyc
currentAnnotationProcessors
mxbuild
workingsets.xml
.idea
GRCUDA.dist
GRCUDA_UNIT_TESTS.dist
mx.grcuda/eclipse-launches
.checkstyle
*.bc
*.iml
/.metadata
/dumps
/hs_err*.log
*.dist
.cache
*.o
*.so
/mx.imports
.pydevproject
.vscode
/projects/com.nvidia.grcuda/src/com/nvidia/grcuda/parser/antlr/GrCUDA.g4.stamp
/projects/com.nvidia.grcuda/src/com/nvidia/grcuda/parser/antlr/GrCUDA.interp
/projects/com.nvidia.grcuda/src/com/nvidia/grcuda/parser/antlr/GrCUDA.tokens
/projects/com.nvidia.grcuda/src/com/nvidia/grcuda/parser/antlr/GrCUDABaseListener.java
/projects/com.nvidia.grcuda/src/com/nvidia/grcuda/parser/antlr/GrCUDABaseVisitor.java
/projects/com.nvidia.grcuda/src/com/nvidia/grcuda/parser/antlr/GrCUDALexer.interp
/projects/com.nvidia.grcuda/src/com/nvidia/grcuda/parser/antlr/GrCUDALexer.java
/projects/com.nvidia.grcuda/src/com/nvidia/grcuda/parser/antlr/GrCUDALexer.tokens
/projects/com.nvidia.grcuda/src/com/nvidia/grcuda/parser/antlr/GrCUDAListener.java
/projects/com.nvidia.grcuda/src/com/nvidia/grcuda/parser/antlr/GrCUDAParser.java
/projects/com.nvidia.grcuda/src/com/nvidia/grcuda/parser/antlr/GrCUDAVisitor.java
**.log
/scratch
**.nvvp
projects/resources/cuda/bin
data/results/*
data/nvprof_log/*
data/pickle/*
/projects/com.nvidia.grcuda/src/com/nvidia/grcuda/parser/antlr/NIDL.g4.stamp
/projects/com.nvidia.grcuda/src/com/nvidia/grcuda/parser/antlr/NIDL.interp
/projects/com.nvidia.grcuda/src/com/nvidia/grcuda/parser/antlr/NIDL.tokens
/projects/com.nvidia.grcuda/src/com/nvidia/grcuda/parser/antlr/NIDLLexer.interp
/projects/com.nvidia.grcuda/src/com/nvidia/grcuda/parser/antlr/NIDLLexer.java
/projects/com.nvidia.grcuda/src/com/nvidia/grcuda/parser/antlr/NIDLLexer.tokens
/projects/com.nvidia.grcuda/src/com/nvidia/grcuda/parser/antlr/NIDLParser.java
tensorrt/build
examples/tensorrt/python/logs
examples/tensorrt/cpp/build
venv
out/
*.files

grcuda_token.txt
projects/demos/image_pipeline/cuda/build
projects/demos/image_pipeline/img_out
