.blur  {
  filter: blur(10px);
}

#overlay {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  margin-left: -512px;
  margin-top: -512px;
  background: rgba(255,255,255,0);
  z-index: 999;
  scale: 0.5;
}

.image-pad {
  padding: 10px;
  margin: 5px
}

.image {
  transition: all .2s ease-out;
}

.image:hover {
  transform: scale(1.5);
}

#close-lightbox {
  position: absolute;
  top: 100%;
  right: 0%;
}
